<div class="container">
<h1>Editing</h1>


	<%= render 'form' %>

<br>
<%= link_to "<= Back to Blog", @blog_post, class: "btn btn-primary" %>
<%= link_to "All Blogs", blog_posts_path, class: "btn btn-info" %>
</div>