/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	/*background-color: #0B4C5F;*/
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #f2f4f4;
}

.container{
	background-color: rgba(255,255,255,0.5)
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-radius: 15px;
}

.panel{
	border: 1px solid black;
}

.form-group{
	box-shadow: 5px 5px 5px rgba(000,000,000,0.5);
}

.btn-block{
	font-family: 'Caveat Brush', cursive;
	font-size: 20px;
	border-style: dashed;
	background-color: #fcfcfc;
	box-shadow: 0px 0px 5px 0px grey inset;
	border-radius: 7px;
}



.indexBody p{ 
	min-height:100px; height:100px; 
}

.showTitle{
	border: solid grey;
	border-radius: 7px;
	border-width: 1px;
	background-color: #fcfcfc;
	box-shadow: 0px 0px 10px 0px grey inset; 
}


#indexMainTitle{
	font-size: 75px;
}

.newPostBtn{
	background: #ede1c2;
	border-radius: 7px;
	border-width: 1px;
	border-color: black;
	box-shadow: 0px 3px 4px rgba(000,000,000,0.3);
}

.caption h3{
	text-align: center;
	font-family: 'Lato', sans-serif;
}

/*pre{
    background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment: local;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 10px;
    border-color:#ccc;
    font-size: 11.5px;
    white-space: normal;

}*/

.maxFormBox{
	max-width: 100%;
}

.postTitle{
	text-align: center;
	font-weight: 300;
	font-family: 'Lado', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.postTitleH3{
	text-align: center;
	font-weight: 200;
	font-family: 'Lado', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 20px;
}
#boxColor{
	background-color: #d3cba5;
	border-bottom: 1px solid black;
}

#boxColor2{
	background-color: #a5d3ae;
	border-bottom: 1px solid black;
}

.expand{
	background-color: orange;
}
.panel-heading{
	box-shadow: 0px 3px 4px rgba(000,000,000,0.3);
}

.panel-footer{
	box-shadow: 0px -3px 4px rgba(000,000,000,0.2);
	border-top: 1px solid black;
}

.controlCode{
	overflow-x: auto;
	width: 100%;
}

.code{
	width: 100%;
}

.formTitle {
	width: 100%;
	margin: auto;
	box-sizing: all;
	text-align: center;
	border: none;
	background-color: transparent;
	
}
